/* font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: flex-end;
  background-color: rgb(32, 31, 31);
  min-width: 100%; 
  min-height: 100%;
}

#video {
  height: 100vh !important;
  width: 100vw !important;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
}

#piano {
  height: 20%;
  width: 50%;
  padding: 8% 5% 2% 5%;
  margin-bottom: 5%;
  background-color: rgb(80, 78, 78);
  border-radius: 2%;
  border-top: solid blue 2px;
  border-right: solid blue 2px;
  border-left: solid blue 2px;
  position: fixed;
}

.keys {
  position: relative;
  top: -55%;
  left: -2.4%;
  height: 170%;
  padding-bottom: -2%;
  width: 105%;
  overflow: hidden;
}

.white-keys {
  display: flex;
  height: 100%;
}

.white-key {
  width: 10%;
  height: 100%; 
  border: solid rgb(32, 31, 31) 0.5px;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  background-color: rgb(232, 226, 220);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1%;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
}
/* ADD TRANSFORM */

.white-key.active {
  background-color: blue;
  opacity: 0.8;
  transition-property: all;
  transition-duration: 0.1s;
}

.white-key.release {
  opacity: 1;
  background-color: rgb(232, 226, 220);
  transition-property: all;
  transition-duration: 0.5s;
}

.black-keys {
  display: flex;
  position: relative;
  height: 100%;
}

.black-key {
  width: 5%;
  height: 75%; 
  border: solid rgb(32, 31, 31) 0.5px;
  border-radius: 3%;
  box-sizing: border-box;
  border-radius: 0 0 3px 3px;
  background-color: rgb(32, 31, 31);
  position: absolute;
  top: -100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1%;
  color: rgb(232, 226, 220);
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
}

.black-key.active {
  background-color: blue;
  opacity: 0.8;
  transition-property: all;
  transition-duration: 0.1s;
}

.black-key.release {
  opacity: 1;
  background-color: rgb(32, 31, 31);
  transition-property: all;
  transition-duration: 0.5s;
}

.black-key:nth-child(1) {
  left: 7%;
}

.black-key:nth-child(2) {
  left: 17%;
}

.black-key:nth-child(3) {
  left: 37%;
}

.black-key:nth-child(4) {
  left: 47%;
}

.black-key:nth-child(5) {
  left: 57%;
}

.black-key:nth-child(6) {
  left: 77%;
}

.black-key:nth-child(7) {
  left: 87%;
}
/* set up media query so the piano doesn't stretch too much */
